:root {
  --color-background:  #e4e4e4;
  --color-text: rgba(33, 33, 33, 0.872);
  --color-border: rgba(57, 56, 56, 0.583);
  --color-affordance: rgb(190, 190, 190);
  --color-affordance-50: rgba(190, 190, 190, 0.50);
}